
@{
    Layout = "~/Views/Layout/_LayoutRedaction.cshtml";
}

@{
    ViewBag.Title1 = "Добавление новости";
}

<div class="add_body">
    <form action="/Redaction/NewsAdd" method="POST" class="add" enctype="multipart/form-data">
        <input type="hidden" value="@ViewBag.Id" name="id">
        <input type="hidden" value="@ViewBag.DateCreate" name="date">
        <input type="hidden" value="@ViewBag.NumberOfViews" name="views">
        <div class="form_div">
            <p>
                Категория
            </p>
            @if (ViewBag.Category != null)
            {
                foreach (var c in ViewBag.Category)
                {
                    <input type="radio" name="category" value="@c.Id">@c.Title
                    <br>
                }
            }
        </div>
        <div class="form_div">
            <p>
                Заголовок
            </p>
            <input type="text" name="title" class="input_title" value="@ViewBag.Title">
        </div>
        <div class="form_div">
            <p>
                Краткое описание
            </p>
            <textarea class="input_text" name="shortDesc">@ViewBag.Description</textarea>
        </div>
        <div class="form_div">
            <p>
                Текст новости
            </p>
            <textarea class="input_text" name="body">@ViewBag.Body</textarea>
        </div>
        <div class="form_div">
            <p>
                Изображение
            </p>
            <input type="file" name="image" accept=".jpg">
        </div>
        <div class="form_div">
            <input type="submit" value="Отправить">
        </div>
    </form>
</div>
